
<!DOCTYPE html>

<html lang="en">

    <!-- BEGIN HEAD -->
{% load staticfiles %}
    <head>
        <meta charset="utf-8" />
        <title>City Hoopla | Dashboard</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/simple-line-icons/simple-line-icons.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/uniform/css/uniform.default.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <link href="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/morris/morris.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/global/plugins/jqvmap/jqvmap/jqvmap.css'%}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{% static 'assets/global/css/components.min.css'%}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{% static 'assets/global/css/plugins.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{% static 'assets/layouts/layout2/css/layout.min.css'%}" rel="stylesheet" type="text/css" />
        <link href="{% static 'assets/layouts/layout2/css/themes/blue.min.css'%}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{% static 'assets/layouts/layout2/css/custom.min.css'%}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="favicon.ico" /> </head>



        <style type="text/css">
        
        #eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}


.profile-text{
margin-top:10px;
}

.profile-text2{
padding-left: 5%;
padding-right: 5%;

}

.page-header.navbar .page-logo .logo-default {
    margin: 2px 0 0;
    width: 105px;
    background: rgba(255, 255, 255, 0.48);
}

.page-header.navbar .page-logo {
  /* fallback */
  background-color: #0d67e6;
  background-image: url(images/linear_bg_1.png);
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#0d67e6), to(#11ca9a));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #0d67e6, #11ca9a);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #0d67e6, #11ca9a);

  /* IE 10 */
  background: -ms-linear-gradient(left, #0d67e6, #11ca9a);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #0d67e6, #11ca9a);
}

@media (max-width: 767px){
.page-header.navbar {
     background-color: #0d67e6;
  background-image: url(images/linear_bg_1.png);
  background-repeat: repeat-y;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, left top, right top, from(#0d67e6), to(#11ca9a));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(left, #0d67e6, #11ca9a);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(left, #0d67e6, #11ca9a);

  /* IE 10 */
  background: -ms-linear-gradient(left, #0d67e6, #11ca9a);

  /* Opera 11.10+ */
  background: -o-linear-gradient(left, #0d67e6, #11ca9a);
}
}

.tabbable-line>.tab-content {
    padding: 30px 25px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
border-top: none; 
}
.table>thead>tr>th {    
    border-bottom: none;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;
}
.hre{
    border-top: 1px solid #aba3a3;
    margin-top: 0px;
    width: 1046px;
    margin-left: -15px;
}




﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1281px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}


.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #444040;
    background: #a09d9d;

}
.bootstrap-switch .bootstrap-switch-handle-on {
    
    
    padding: 2px 12px;
  
}
 
.bootstrap-switch .bootstrap-switch-handle-off {
   
    padding: 2px 12px;
    
}
.bootstrap-switch .bootstrap-switch-label {
    
    padding: 2px 12px;
    
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 17px;
    right: 13px;
    font-weight: 300;
    padding: 3px 6px;
}


.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #2b3b55;
    color: #eceef1;
    font-family: 'Roboto Light', 'Roboto';
    font-weight: 300;
    font-size: 15px;


    
}

li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^=fa-], li [class^=glyphicon-], li [class^=icon-] {
    display: inline-block;
    width: 3.25em;
    text-align: center;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-header.navbar .page-logo {
    background-color: #0d67e6;
    background-image: url(images/linear_bg_1.png);
    background-repeat: repeat-y;
    background: -webkit-gradient(linear, left top, right top, from(#0d67e6), to(#11ca9a));
    background: -webkit-linear-gradient(left, #b6d7dc, #51cfdc);
    background: -moz-linear-gradient(left, #0d67e6, #11ca9a);
    background: -ms-linear-gradient(left, #0d67e6, #11ca9a);
    background: -o-linear-gradient(left, #0d67e6, #11ca9a);
}

.btn-default {
    color: #9e9a9a;
    background-color: #fff;
    border-color: #ccc;
    
}



</style>
        </head>
    <!-- END HEAD -->
 
    <body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
       <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
        
        
        
                 <!-- BEGIN HEADER INNER -->
            	<div class="page-header-inner ">
            
             
                <!-- BEGIN LOGO -->
                <div class="page-logo">	
                    <a href="/dashboard/">
                         <img src="{% static 'assets/layouts/layout2/img/City_Hoopla_Logo.png' %}" alt="logo" class="logo-default" /> </a>
                    <div class="menu-toggler sidebar-toggler">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                
                
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN PAGE TOP -->
                <div class="page-top">
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    
                     <div class="input-group form-group" style="width: 257px;float: left; padding-left: 10px; padding-top: 17px;">
                             <span class="input-group-btn">
										<span style="border: none !important;"  class="btn btn btn-default">
	                                        <span class="fa fa-search"></span>
	                                    </span>
									</span>
                             <input style="border: none !important; padding-left: 0px ; font-family: 'Roboto Light', 'Roboto';" type="text" class="form-control " id="txtSearch"
                                    placeholder="Search " name="s">
									
                         </div>
                         
                    <div class="top-menu">
                    
 						
                        <ul class="nav navbar-nav pull-right">
                        
                        
                                                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                             <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-bell"></i>
                                    <span class="badge badge-default" style="    background-color: #d22917;"> 7 </span>
                                </a>
                               <!--  <ul class="dropdown-menu">
                                    <li class="external">
                                        <h3>
                                            <span class="bold">12 pending</span> notifications</h3>
                                        <a href="page_user_profile_1.html">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">just now</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-success">
                                                            <i class="fa fa-plus"></i>
                                                        </span> New user registered. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">3 mins</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Server #12 overloaded. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">10 mins</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Server #2 not responding. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">14 hrs</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> Application error. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">2 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Database overloaded 68%. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">3 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> A user IP blocked. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">4 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-warning">
                                                            <i class="fa fa-bell-o"></i>
                                                        </span> Storage Server #4 not responding dfdfdfd. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">5 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-info">
                                                            <i class="fa fa-bullhorn"></i>
                                                        </span> System Error. </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <span class="time">9 days</span>
                                                    <span class="details">
                                                        <span class="label label-sm label-icon label-danger">
                                                            <i class="fa fa-bolt"></i>
                                                        </span> Storage server failed. </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul> -->
                            </li> 
                            <!-- END NOTIFICATION DROPDOWN --> 
                            
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                     <img  style="    width: 40px;" alt="" class="img-circle" src="{{logo}}" > 
                                    <span class="username username-hide-on-mobile"> shubham shirsode </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">
                                    
                                     <li>
                                        <a href="/log-out/">
                                            <i class="fa fa-user" aria-hidden="true"></i> My Profile </a>
                                    </li>
                                    <li>
                                        <a href="/log-out/">
                                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                        </ul>
                    </div>
                    
                    
                    
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END PAGE TOP -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        
        <!-- BEGIN HEADER & CONTENT DIVIDER -->
        <div class="clearfix"> </div>
        <!-- END HEADER & CONTENT DIVIDER -->
        
        
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
    <!-- BEGIN SIDEBAR -->
   <div class="page-sidebar-wrapper" >
    <!-- END SIDEBAR -->
     <div class="page-sidebar navbar-collapse collapse" style="background-color:#666">
     <!-- BEGIN SIDEBAR MENU -->
      <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                 <li class="nav-item " >
                      <a href="index.html" class="nav-link nav-toggle" style="background-color: #333;" >
								
								
                          <span class="title" style="    margin-left: -46px;"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</span>
<!--                             <span class="arrow"></span>                                 -->
								
                      
                      </a>                 
                  </li>

                  <li class="nav-item  ">
                      <a href="advert-management.html" class="nav-link nav-toggle" style="background-color: #666;">
						
								
                          <span class="title" style="    margin-left: -74px;"> <i class="fa fa-users" aria-hidden="true"></i> Advert</span>
                                <span class="selected"></span>                                
									
                      </a>
                  </li>
                  <li class="nav-item">
                      <a href="advert-management.html" class="nav-link nav-toggle" style="background-color: #666;">
							
						
                          <span class="title" style="    margin-left: -61px;"> <i class="fa fa-user" aria-hidden="true"></i> Bookings </span>
						
                      </a>                            
                  </li>
                  
              </ul>
              <!-- END SIDEBAR MENU -->
          </div>
          <!-- END SIDEBAR -->
      </div>
      <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper" style="background-color: #666;">
                <!-- BEGIN CONTENT BODY -->
                <div class="page-content">
                    <!-- BEGIN PAGE HEADER-->

                    <!-- BEGIN PAGE TITLE-->
                         <div class="row"  >
  				
						  		  <div class="col-md-12" style="margin-left: -14px;" >
						  			 <div class="col-md-2"  style="font-family: 'Roboto Light', 'Roboto';  font-weight: 300; font-style: normal; font-size: 24px;color: #2F353B;margin-top: -25px;">
						            <p> 
						            <span> Dashboard </span>
						            </p> 
						          </div>
						         
						        <div class="col-lg-3" style="font-size: 12px;font-family: 'Roboto Light', 'Roboto';">
                                 <select name="cars" style="    height: 22px;width: 113px; color: #797979;">
												    <option value="newest_first">Current Week</option>
												    <option value="oldest_first">Current Month</option>
											</select>
                   		  </div>
                   		 </div>
						      </div>
                    <!-- END PAGE TITLE-->
                    <!-- END PAGE HEADER-->
      
                                 
  <!-- BEGIN Dashboard CONTENT -->


  <div class="portlet-body form">
          <!-- BEGIN FORM-->

							<div class="row">
					       <div class="col-lg-12"  >
					     			<div class="col-lg-2" style="background-color: white; margin-right: 23px;height: 110px; width: 210px;">
											<div style="font-family: 'Roboto Light', 'Roboto';
																	    font-weight: 300;
																	    font-style: normal;
																	    font-size: 30px;
																	    color: #2F353B; padding-top: 19px;  padding-left: 65px;">
												562312
											</div>
											<div style=" margin-top: 12px; font-family: 'Roboto Light', 'Roboto';">
											Availed Discounts
											</div>   			
					     			</div>
					     			<div class="col-lg-2" style="background-color: white;margin-right: 23px;height: 110px; width: 210px;">
											AAA					     			
					     			</div>
					     			<div class="col-lg-2" style="background-color: white;margin-right: 23px;height: 110px; width: 210px;" >
					     					DDD
					     			</div>
					     			<div class="col-lg-2" style="background-color: white;margin-right: 23px;height: 110px; width: 210px;">
					     					FFF
					     			</div>
			
									              
								
					       </div>
					     </div>
					     
					   <div class="row">
					       <div class="col-lg-12" style="margin-left: -14px; margin-top: 41px;">
					     		  <div class="col-md-6 col-sm-6" style="width: 476px;">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-share font-red-sunglo hide"></i>
                                        <span class="caption-subject font-red-sunglo bold uppercase">Total Bookings</span>
                                        <span class="caption-helper">monthly stats</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group">
                                            <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-close-others="true"> Select Location
                                                <span class="fa fa-angle-down"> </span>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>
                                                    <a href="javascript:;">Pune</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Mumbai</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Bangalore</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;">Kolkata</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div id="site_activities_loading">
                                        <img src="../assets/global/img/loading.gif" alt="loading" /> </div>
                                    <div id="site_activities_content" class="display-none">
                                        <div id="site_activities" style="height: 300px;"> </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
                          <div class="col-md-6 col-sm-6" style="width: 476px;padding-left: 0px;">
                            <!-- BEGIN PORTLET-->
                            <div class="portlet light ">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-share font-red-sunglo hide"></i>
                                        <span class="caption-subject font-red-sunglo bold uppercase">Total Views</span>
                                        <span class="caption-helper">daily stats</span>
                                    </div>
                                    <div class="actions">
                                        <div class="btn-group">
                                            <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-close-others="true"> Select City
                                                <span class="fa fa-angle-down"> </span>
                                            </a>
                                            <ul class="dropdown-menu pull-right">
                                           {% for city in city_list %}
                                                    <li>
                                                        <a href="javascript:collection_city_change({{ city.city_id }});">
                                                        {{ city.city }}</a>
                                                        <input name="next" id="city_pay" type="hidden" value="{{ city.city }}" />               
                                             
                                                    </li>
                                            {% endfor %} 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                        <div id="Payment_Collection1" style="height: 300px;"> </div>
                                </div>
                            </div>
                            <!-- END PORTLET-->
                        </div>
			
					       </div>
					     </div>
				

  		 </div>       <!-- END PORTLET--> 
  	    	 
<div class="modal fade bs-modal-lg" id="createNew" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width: 535px; margin-left: 168px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Apply Filters</h4>
            </div>
 
      	          
							     	          
       	 <form id="scheduleFrm">
      	 	 	<div class="row">
						<input  id="supplier_id" name="supplier_id" hidden type="text"  value="110" >
					</div> 
								  	
      	 
      <div class="modal-body">
           <div class="row">
              <div class="form-group col-lg-12">
                  <label id=""> Category {{category_var}} </label>

                   <select class="form-control" name="category_id" id="category_id">
									<option  value="">All categories</option>
				                			
				                          {% for obj_cat in final_list2 %}
				                              {% if obj_cat.category_id == category_var %} 				                            		
				                           	 	<option selected value="{{obj_cat.category_id}}">{{obj_cat.category_name}}</option>      	 					               
							                     {% else %}
							                        <option  value="{{obj_cat.category_id}}">{{obj_cat.category_name}}</option>
				                           	{% endif %}
				                          {%endfor%} 
				       
                    </select>

                 </div>
                     
               <div class="form-group col-lg-12">
                  <label> Time </label>
							<br>

								<div class=" col-lg-2">
					    		 <input  id="One_week" type="radio" name="Time" value="One_week"  onclick="activate_daterange();"> 1W 
					    		</div>
					    			<div class=" col-lg-2">
								  <input  id="One_month" type="radio" name="Time" value="One_month" onclick="activate_daterange();" > 1M
								  	</div>
								  	<div class=" col-lg-2">
								  <input  id="Three_month" type="radio" name="Time" value="Three_month" onclick="activate_daterange();"> 3M
								  	</div>
								  	<div class=" col-lg-2">
								  <input  id="Six_month" type="radio" name="Time" value="Six_month" onclick="activate_daterange();"> 6M
								  	</div>
								  	<div class=" col-lg-4">
								  <input  id="date_range" type="radio" name="Time" value="Date_Range" checked  onclick="activate_daterange();"> Date Range
								  	</div>
                    </div>
      
                </div> 
                <br>
                <div class="row ">
                    <div id="active_date" class="form-group col-md-12 " style=" margin-left: -14px;">
                        
                        <div class="form-group col-md-1 ">
                        <label for=""> From</label>
								</div>
								 <div class="form-group col-md-5 ">
                        
                             <div class="input-append date form_datetime">
										<input  style="    padding-right: 26px;" name="startDate" id="startDate" size="16" type="text" value="" readonly>
										<span class="add-on"><i class="icon-th"></i></span>
										</div>

                      	</div>
                   	<div class="form-group col-md-1 ">

                        <label for=""> To</label>
							</div>
							 <div class="form-group col-md-5 ">
                        
                             <div class="input-append date form_datetime">
										<input style="padding-right: 26px;" name="endDate" id="endDate" size="16" type="text" value="" readonly>
										<span class="add-on"><i class="icon-th"></i></span>
										</div>

                      	</div>

                     </div>
                     

                    <div   class="form-group col-md-12 ">
                    <label> Status 	</label>
							</div>

                    <div  class="form-group col-lg-12" style=" margin-left: -14px;">
                     
                     <div class=" col-lg-4">
								 <input  id="Active" type="radio" name="stat" value="1" checked> Active
						   </div>

							<div class=" col-lg-4">	 
								  <input id="Expired" type="radio" name="stat" value="0"> Expired
						   </div>
								 
						    <div class=" col-lg-4"> 
								  <input id="Show_All" type="radio" name="stat" value=""> Show All 
							 </div>
                    
                     </div>
                </div>
                

	                <div class="modal-footer">
                             <button type="button" id="submit_btn" onclick="filter_advert();" >Apply</button>
                 				  <button type="button"  data-dismiss="modal">Cancel</button>
                  </div>
            </form> 
           
        </div>
    </div>
</div>
                                    
<!-- END CONTAINER -->
  <!-- BEGIN FOOTER -->
  <div class="page-footer">
      <div class="page-footer-inner"> 2015 &copy; Metronic by keenthemes.
          <a href="http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" title="Purchase Metronic just for 27$ and get lifetime updates for free" target="_blank">Purchase Metronic!</a>
      </div>
      <div class="scroll-to-top">
          <i class="icon-arrow-up"></i>
      </div>
  </div>
  <!-- END FOOTER -->

        <!-- BEGIN CORE PLUGINS -->
        <script src="{% static 'assets/global/plugins/jquery.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap/js/bootstrap.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/js.cookie.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.blockui.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/uniform/jquery.uniform.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js'%}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
         <script src="{% static 'assets/global/plugins/amcharts/amcharts/topup.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/moment.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/morris/morris.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/morris/raphael-min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/counterup/jquery.waypoints.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/counterup/jquery.counterup.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/amcharts.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/serial.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/pie.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/radar.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/light.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/patterns.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amcharts/themes/chalk.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/ammap/ammap.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/ammap/maps/js/worldLow.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/amcharts/amstockcharts/amstock.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/fullcalendar/fullcalendar.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.resize.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/flot/jquery.flot.categories.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/jquery.sparkline.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/moment.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/scripts/datatable.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/datatables/datatables.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{% static 'assets/global/scripts/app.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/pages/scripts/components-date-time-pickers.min.js'%}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <!--<script src="{% static 'assets/pages/scripts/table-datatables-responsive.js'%}" type="text/javascript"></script>-->
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{% static 'assets/pages/scripts/dashboard.min.js'%}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{% static 'assets/layouts/layout2/scripts/layout.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/layout2/scripts/demo.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/layouts/global/scripts/quick-sidebar.min.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/highcharts/js/highcharts.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/highcharts/js/highcharts-3d.js'%}" type="text/javascript"></script>
        <script src="{% static 'assets/global/plugins/highcharts/js/highcharts-more.js'%}" type="text/javascript"></script>
        <!-- END THEME LAYOUT SCRIPTS -->
        
<script type="text/javascript">

var chart = AmCharts.makeChart( "Payment_Collection1", {
  "type": "serial",
  "theme": "light",
  "dataProvider": [ {
    "day": "00:00",
    "visits": 2500
  }, {
    "day": "08:00",
    "visits": 1500
  }, {
    "day": "16:00",
    "visits": 6500
  }, {
    "day": "23:59",
    "visits":2540
  }],
  "valueAxes": [ {
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  } ],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [ {
    "balloonText": "[[category]]: <b>[[value]]</b>",
    "fillAlphas": 0.8,
    "lineAlpha": 0.2,
    "type": "column",
    "autoColor": true,
    "valueField": "visits"
  } ],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "day",
  "categoryAxis": {
    "gridPosition": "start",
    "gridAlpha": 0,
    "tickPosition": "start",
    "tickLength": 20
  },
  "export": {
    "enabled": true
  }

} );






</script>        
 </body>
</html>